extends layout
block header

  div.container-fluid.club-form-container
    div.row
      div.col
      div.col
        h1=title
        div.group-control
          form.club-form(method="POST")
            label(for="code") Enter admin code:
            input#code.form-control(type="password" required name='code')
            button.btn.btn-primary(type="submit") Submit
        if errors
          ul
            for error in errors
              li!=error.msg
      div.col

