extends layout
block header
  div.row
    div.col
    div.col.sign-up-container
      p.status=status
      h1=title
      div.group-control
        form.login(method='POST')
          label(for="username") Username / Email:
          input#username.form-control(type="email" name='username')
          label(for='password') Password:
          input#password.form-control(type="password" name="password")
          button(style="margin:10px 0;").btn.btn-primary(type="submit") Login
          p(style="text-align:center;")
            a(href="/user/sign-up") Sign up
      
      if errors
        ul
          for error in errors
            li=error.msg
    div.col