body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  background-color: #ccc;
  padding: 15px;
}

.logo {
  padding: 15px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

.sign-up-container {
  padding: 50px 0;
  font-weight: 700;
}

.sign-up-container > h1 {
  text-align: center;
}

.sign-up-container > p {
  text-align: center;
  margin: 15px;
  font-size: 16px;
}

form.sign-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p.status {
  color: rgb(4, 51, 4);
}

li {
  color: red;
}

.content-container {
  margin: 30px auto;
  text-align: center;
  font-size: 24px;
}

.club-form-container {
  padding: 30px 0;
}

.club-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.message-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 24px;
  color: green;
  text-align: center;
}

.join-club{
  font-size: 16px;
}

.message-date{
  font-size: 14px;
}

.user{
  text-align: center;
}

